@(subscriptionForm: Form[model.SubscriptionFormData],subscriptions : Seq[model.Subscription])(implicit request: RequestHeader)
@main() {

    <form id="comic-data-form" role="form" action='@routes.SubscriptionController.addSubscription()' method="post" class="form-horizontal" align="center" autocomplete="off">

        <fieldset class="comic-fieldset">

            <div class="comic-form">
                <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none">Subscribe to you favourite comics</label>
            </div>
            <br/>
            <table align="center" cellspacing="20">
                <tr>
                    <td align="left">
                        <div class="comic-form" id="firstName_field_label">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <strong>user id </strong> :
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="comic-form" id="firstName_field_value">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <input type="text" id="userId" name="userId" value="" placeholder="User Id" class="form-control input-lg" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <div class="comic-form" id="mobile_field_label">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <strong>published on</strong> :
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="comic-form" id="mobile_field_value">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <input type="date" id="publishedOn" name="publishedOn" placeholder="Published On" class="form-control input-lg" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                                <tr>
                    <td align="left">
                        <div class="comic-form" id="lastName_field_label">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <strong>heroes </strong> :
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="comic-form" id="lastName_field_value">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <input type="text" id="heroes" name="heroes" value="" placeholder="heroes" class="form-control input-lg" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <div class="comic-form" id="email_field_label">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <strong>authors </strong> :
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="comic-form" id="email_field_value">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <input type="text" id="authors" name="authors" placeholder="Authors" class="form-control input-lg" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <div class="comic-form" id="email_field_label">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <strong>comicTypes </strong> :
                                </div>
                            </div>
                        </div>
                    </td>
                    <td align="center">
                        <div class="comic-form" id="email_field_value">
                            <div class="controls col-xs-offset-3 col-xs-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-comic"></span></span>
                                    <input type="text" id="comicTypes" name="comicTypes" placeholder="comicTypes" class="form-control input-lg" required>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
            <div class="form-actions controls ynt-btn-xlarge">
                <button type="submit" class="btn btn-primary ynt-btn-orange">Add</button>
            </div>

        </fieldset>
    </form>

    <div class="comic-display" >
        <fieldset>
            <legend align="center"><h3>Registered Comics</h3></legend>
            <table cellspacing="20">
                <tr>
                    <th>Comicid</th>
                    <th>User id</th>
                    <th>Published On</th>
                    <th>Heroes</th>
                    <th>Authors</th>
                    <th>Categories</th>
                </tr>
                @for(subscription <- subscriptions){
                    <tr>
                        <td>@subscription.id</td>
                        <td>@subscription.userId</td>
                        <td>@subscription.publishedOn</td>
                        <td>@subscription.heroes</td>
                        <td>@subscription.authors</td>
                        <td>@subscription.comicTypes</td>
                        <td><a href="@routes.SubscriptionController.deleteSubscription(subscription.id)">delete</a></td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>

}